body, h1, h2, h3, p, a {
	margin: 0;
	font-family: "Trebuchet MS";
}

* {
	box-sizing: border-box;
}

body {
	background-color: #42a1f4;
	color: white;
}

section {
	padding-top: 50px;
	overflow: hidden;
}

.main {
	position: relative;
	min-height: 100vh;
	padding: 0 10px;
}

h1 {
	margin-bottom: 25px;
	font-size: 50px;
	line-height: 1.1;
}

h2 {
	font-size: 30px;
	line-height: 1.1;
}

.header-images img {
	position: absolute;
}

.header-images .pancakes-img {
	width: 90%;
	right: -150px;
	bottom: 60px;
}

.header-images .granny-img {
	width: 100px;
}

.header-images .granny-img-1 {
	left: 50px;
	bottom: 100px;
	transform: rotate(-45deg);
}

.header-images .granny-img-2 {
	right: 100px;
	bottom: 40%;
	width: 60px;
	transform: rotate(15deg);
}

.about:before,
.about:after {
	position: absolute;
	left: -40px;
	right: -40px;
	height: 200px;
	display: block;
	content: "";
	background-color: #8aed63;
	transform: rotate(-10deg);
	z-index: -1;
}

.about:before {
	top: -45px;
}

.about:after {
	bottom: -45px;
}

.row {
	margin-bottom: 5px;
	border-bottom: 2px solid black;
}

.about {
	position: relative;
	margin-bottom: 80px;
	padding: 40px 10px 20px;
	background-color: #8aed63;
	z-index: 2;
	color: black;
}

.about h3 {
	margin-bottom: 15px;
	font-size: 30px;
}

.about-desc {
	margin-bottom: 15px;
}

.about-image {
	margin: 0 0 15px -10px;
	width: calc(100% + 20px);
}

.creator {
	margin-bottom: 20px;
	padding: 0 10px;
}

.creator:after {
	display: table;
	content: "";
	clear: both;
}

.creator-avatar {
	float: left;
	margin-right: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}

.creator-avatar img {
	width: 100%;
}

.banana {
	padding: 20px 10px;
	background-color: #FFDE34;
	color: black;
}

.banana a {
	color: black;
	font-weight: 900;
}

.creator-name {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 900;
}

.creator-desc {
	margin-bottom: 5px;
	font-size: 12px;
}